

table{

    margin:3%;
    width:70%;
    height:600px;
}
tr>th:first-child{
    text-align:left;
    padding-left: 1%;
}
tr:first-child{
    background-image:linear-gradient(to bottom,olivedrab,olive);
    -webkit-background-image: linear-gradient(to bottom,olivedrab,olive);
    -o-background-image: linear-gradient(to bottom,olivedrab,olive);
    -moz-background-image: linear-gradient(to bottom,olivedrab,olive);
    color:snow;
    line-height: 35px;
    font-size: 20px;




}
table tr>th:first-child{
    border: greenyellow 1px solid;
    border-radius: 5px 5px 0 0;
    border-bottom-width:thick;
}
table tr>th:nth-child(2){
     border: greenyellow 1px solid;
    border-radius: 5px 5px 0 0;
    border-bottom-width:thick;
}
table tr>th:nth-child(3){
     border: greenyellow 1px solid;
    border-radius: 5px 5px 0 0;
    border-bottom-width:thick;
}

tr{
    background-color:lightgrey;

}
td:first-child{
    padding-left: 1%;
    color:#000000;
    opacity: 0.8;

}
td:first-child:hover{
    opacity: 1;
}

td:nth-child(2){
    text-align:center;
    color:#000000;
    opacity: 0.8;

}
td:nth-child(2):hover{
    opacity: 1;
}
td:nth-child(3){
    text-align:center;
    color:#000000;
    opacity: 0.8;
}
td:nth-child(3):hover{
    opacity: 1;
}










body{

    padding: 10px;
    margin: 15px;
}





header{
    background-color: olivedrab;
    background-image: url("images/flywheel.jpg");
    -moz-background-image: url("images/flywheel.jpg");
    -o-background-image: url("images/flywheel.jpg");
    -webkit-background-image: url("images/flywheel.jpg");
    background-size:100%;
    height: 250px;


}

h1{

    color: #ffffff;
    opacity: 1;
    text-align:center;
    font-variant-caps: all-petite-caps;
    font-size: xx-large;
    padding:1.5%;


}

nav{
    text-align: center;
}
nav a{
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    width: 10%;
    border-radius: 5px;
    text-align: center;
    margin: 2%;
    background-color: white;
    opacity: 0.4;
    padding: 1%;


}

.active{
    background-color: white;
    opacity:unset;

}



.left{
    display: inline-block;
    width:13%;
    float: left;
    background-color:#6b8e23;
    height:100%;
    position: relative;


}
img{
    width:80%;
    display: block;
    margin:9%;
    border: black solid 2px;


}

h2{
    color: #000000;
    font-weight: bold;
    font-size: 30px;

}
 p{
     text-align: left;
     font-size: 25px;
     
 }

.right{
    width: 85%;
    float: right;
    display: inline-block;
    position: relative;

}


a:hover{
    border: mediumorchid solid 2px;
}
nav a:focus{
    color: yellow;
}
h2:active{
    color: olive;
}

p:last-of-type{
    font-weight: bold;

}
p:nth-child(2){
    color: olive;
}






